<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Asset Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-3.4.1.min.css">
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <!--[if IE 8]>
    <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/bootstrap-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Asset Service</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {{ if .Name }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span>{{ .Name }}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><span id="account-email">{{ .Email }}</span></li>
                        <li><a class="logout-link" href="/logout">Logout</a></li>
                    </ul>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>

    <div class="container-full">
        {{ if .Name }}
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab-password" role="tab" data-toggle="tab">Password</a></li>
            <li><a href="#tab-ip" role="tab" data-toggle="tab">IP</a></li>
            <li><a href="#tab-address" role="tab" data-toggle="tab">Address</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-password">
                <h4>
                    <strong>Encrypted Password Count:</strong>&emsp;<span id="encrypted-count"></span>
                    &emsp;&emsp;&emsp;&emsp;
                    <strong>Plain Password Count:</strong>&emsp;<span id="unencrypted-count"></span>
                    &emsp;&emsp;&emsp;&emsp;
                    <a id="btn-encrypt" class="btn btn-primary" href="">Encrypt</a>
                    &emsp;&emsp;&emsp;&emsp;
                    <a id="btn-decrypt" class="btn btn-primary" href="">Decrypt</a>
                </h4>
                <div class="input-group">
                    <select id="config-project" class="form-control" style="width: 30%;">
                        <option value="">Loading Projects ...</option>
                    </select>
                    <input type="text" id="search-input" class="form-control" style="width: 70%;">
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-primary" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div class="tab-pane" id="tab-ip">
                <p>all ip</p>
            </div>
            <div class="tab-pane" id="tab-address">
                <p>all address</p>
            </div>
        </div>

        <!-- Config Result -->
        <div class="result-list" id="config-result"></div>
        {{ else }}
        <div class="login-container">
            <a id="oauth2-login" class="btn btn-primary" href="">LOGIN</a>
        </div>
        {{ end }}
    </div>

    <script>
        $(function () {
            init_button_login();
            init_button_password();

            init_tab_password();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");

                if (target === "#tab-password") {
                    init_tab_password();
                } else if (target === "#tab-ip") {
                    init_tab_ip();
                } else if (target === "#tab-address") {
                    init_tab_address();
                }
            });

            $('#config-project').change(function () {
                const project_id = $('#config-project').val();
                if (project_id) {
                    init_password_description(project_id);
                };
            });
        });
    </script>
</body>

</html>